.home_home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    max-height: 300px;
    min-height: 250px; 
    margin-top: 20px; 
  }
  

  .home_card {
    flex: 0 0 calc(25% - 20px);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
    height: 150px!important;
  }
  
  .home_admin-card,
  .home_userReq-card,
  .home_user-card 
  { background-color: #b5ecf9; }
  
  
  .home_card h3 {
    margin: 0;
    padding-bottom: 10px;
    color: #333;
  }
  
  .home_card p {
    margin: 5px 0;
    font-size: 18px;
    color: #5c5d5d;
  }
  
  .home_welcome-section {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home_welcome-section h3 {
    margin: 10px 0;
    color: #0c8fa7;
  }
  
  .home_welcome-section p {
    color: #666;
    margin-top: 15px;
  }

  .justifyCenter {
    /* justify-content:0 auto; */
    margin-left: 300px;
    margin-top: 160px;
  }
  
  .welText{
    font-size: 16px!important;
  }

  .welTitle{
    font-size: 26px;
  }